[submodule "Theos"]
	path = theos
	url = git://github.com/DHowett/theos.git
[submodule "AFIncrementalStore"]
	path = Tweak/AFIncrementalStore/Submodule
	url = git://github.com/AFNetworking/AFIncrementalStore.git
[submodule "AFOAuth2Client"]
	path = Tweak/AFOAuth2Client/Submodule
	url = git://github.com/AFNetworking/AFOAuth2Client.git
