Package: org.thebigboss.cpconnector
Depends: firmware (>= 6.0), mobilesubstrate, preferenceloader (>= 2.0.5)
Name: CloudPrintConnector
Version: 1.0
Architecture: iphoneos-arm
Description: Connects you to Google Cloud Print!
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Conrad Kramer <support@kramerapps.com>
Sponsor: thebigboss.org <http://thebigboss.org>
Section: Tweaks
dev: conradkramer
Tag: cydia::commercial, purpose::extension
